@if (isLoading) {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
} @else {
    <form [formGroup]="bookEditForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" formControlName="title" />
            <ul>
                @if (isRequired(bookEditControls.title)) {
                    <li>Title is requried!</li>
                }
                @for (error of checkFormFieldError('title'); track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" formControlName="author" />
            <ul>
                @if (isRequired(bookEditControls.author)) {
                    <li>Author is requried!</li>
                }
                @for (error of checkFormFieldError('author'); track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
        <div>
            <label for="available">Available</label>
            <input type="checkbox" id="available" formControlName="available" />
            <ul>
                @if (isRequired(bookEditControls.available)) {
                    <li>Availability is requried!</li>
                }
                @for (error of checkFormFieldError('available'); track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>

        <button type="submit" [disabled]="bookEditForm.invalid">Save</button>
        @if (formErrorCode) {
            <p>{{ formErrorCode }}</p>
        }
    </form>
}
