<form class="row g-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <label for="" class="form-label">Titre *</label>
        <input
            type="text"
            class="form-control"
            required
            [formControl]="controls.title"
        />
        <app-form-input-display-error [control]="controls.title" name="Titre" />
    </div>

    <div class="col-12">
        <label for="" class="form-label">Auteur *</label>
        <input
            type="text"
            class="form-control"
            required
            [formControl]="controls.author"
        />
        <app-form-input-display-error
            [control]="controls.author"
            name="Auteur"
        />
    </div>

    <div class="col-md-12">
        <label for="" class="form-label">État *</label>
        <select class="form-select" [formControl]="controls.condition">
            <option value="new">🆕 Neuf</option>
            <option value="good">👍 Bon état</option>
            <option value="poor">📖 Usagé</option>
        </select>
        <app-form-input-display-error
            [control]="controls.condition"
            name="État"
        />
    </div>

    <div class="d-flex justify-content-end gap-2 mt-2">
        @if (isLoading) {
            <app-spinner />
        } @else {
            <button class="btn btn-sm btn-outline-secondary" type="reset">
                ✖ Annuler
            </button>
            <button
                class="btn btn-sm btn-primary"
                type="submit"
                [disabled]="form.invalid"
            >
                💾 Enregistrer
            </button>
            @if (formErrorCode) {
                <p>{{ formErrorCode }}</p>
            }
        }
    </div>
</form>
