@if (isLoading) {
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
} @else {
    <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" />
            <ul>
                @if (isRequired(userEditControls.name)) {
                    <li>Name is requried!</li>
                }
                @for (error of checkFormFieldError('name'); track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" formControlName="email" />
            <ul>
                @if (isRequired(userEditControls.email)) {
                    <li>Email is requried!</li>
                }
                @for (error of checkFormFieldError('email'); track $index) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
        <button type="submit" [disabled]="userEditForm.invalid">Save</button>
        @if (formErrorCode) {
            <p>{{ formErrorCode }}</p>
        }
    </form>
}
