<!-- Modal Overlay -->
<div
    class="modal fade"
    [class.show]="isOpen()"
    [style.display]="isOpen() ? 'block' : 'none'"
    tabindex="-1"
    aria-hidden="{{ !isOpen() }}"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow-lg rounded-4 border-0">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title text-capitalize">
                    {{ modalType() ? modalType.toString() : '' }}
                </h5>
                @if (modalType() !== ModalType.Loading) {
                    <button
                        type="button"
                        class="btn-close btn-close-white"
                        aria-label="Close"
                        (click)="close()"
                    ></button>
                }
            </div>

            <div class="modal-body p-4">
                <!-- Dynamically inject modal content -->
                @switch (modalType()) {
                    @case (ModalType.Alert) {
                        <app-alert-modal></app-alert-modal>
                    }
                    @case (ModalType.Confirm) {
                        <app-confirm-modal></app-confirm-modal>
                    }
                    @case (ModalType.Loading) {
                        <app-loading-modal></app-loading-modal>
                    }
                    @case (ModalType.Prompt) {
                        <app-prompt-modal></app-prompt-modal>
                    }
                }
            </div>

            <!-- <div class="modal-footer border-0 d-flex justify-content-end">
                @if (modalType() !== ModalType.Loading) {
                    <button
                        type="button"
                        class="btn btn-secondary rounded-pill px-4"
                        (click)="close()"
                    >
                        Fermer
                    </button>
                }
            </div> -->
        </div>
    </div>
</div>

<!-- Backdrop -->
@if (isOpen()) {
    <div class="modal-backdrop fade" [class.show]="isOpen()"></div>
}
