.modal {
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.modal.show .modal-dialog {
    transform: scale(1);
}

.modal .modal-dialog {
    transform: scale(0.95);
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}
