<div>
    <div class="btn-group mb-3 w-100">
        <button
            class="btn btn-sm"
            [ngClass]="{
                'btn-primary': displayMode === DisplayMode.Loans,
                'btn-outline-secondary': displayMode !== DisplayMode.Loans,
            }"
            (click)="onDisplayModeChange(DisplayMode.Loans)"
        >
            Prêts
        </button>
        <button
            class="btn btn-sm"
            [ngClass]="{
                'btn-primary': displayMode === DisplayMode.Borrowed,
                'btn-outline-secondary': displayMode !== DisplayMode.Borrowed,
            }"
            (click)="onDisplayModeChange(DisplayMode.Borrowed)"
        >
            Emprunts
        </button>
    </div>
</div>
<div class="btn-group mb-3 w-100">
    <button class="btn btn-sm btn-primary">En cours</button>
    <button class="btn btn-sm btn-outline-secondary">Terminés</button>
    <button class="btn btn-sm btn-outline-secondary">En retard</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Livre</th>
            <th>Ami</th>
            <th>Dates</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        @for (
            l of displayMode === DisplayMode.Loans ? loans() : borrowed();
            track l.loanId
        ) {
            <tr>
                <td>{{ l.book.title }}</td>
                <td>
                    @if (displayMode === DisplayMode.Loans) {
                        {{ $any(l).borrower.name }}
                    } @else {
                        {{ $any(l).owner.name }}
                    }
                </td>
                <td>
                    {{ l.createdAt | date: 'mediumDate' }} →
                    {{ l.shouldBeReturnedAt | date: 'mediumDate' }}
                </td>
                <td>
                    @if (l.returnedAt) {
                        <span
                            class="chip"
                            [ngClass]="{
                                'chip-success':
                                    !l.shouldBeReturnedAt ||
                                    l.shouldBeReturnedAt <= l.returnedAt,
                                'chip-dark':
                                    l.shouldBeReturnedAt &&
                                    l.shouldBeReturnedAt > l.returnedAt,
                            }"
                            >Rendu</span
                        >
                    } @else {
                        @if (
                            !l.shouldBeReturnedAt ||
                            l.shouldBeReturnedAt.getTime() > Date.now()
                        ) {
                            <span class="chip chip-warning">En cours</span>
                        } @else {
                            <span class="chip chip-danger">En retard</span>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
