<div>
    <h2>User Details Page</h2>
    @if (userDetailsError) {
        <p>Error: {{ userDetailsError }}</p>
    } @else {
        @if (editMode && userDetails) {
            <button (click)="onExitEditMode()">Cancel</button>
            <app-user-edit-form
                (profileUpdated)="onProfileUpdated()"
                [data]="userDetails"
                [self]="!userId()"
            />
        } @else if (changePasswordMode && userDetails) {
            <button (click)="onExitChangePasswordMode()">Cancel</button>
            <app-user-edit-password-form
                [userId]="userId()"
                (passwordUpdated)="onPasswordUpdated()"
            />
        } @else {
            <button (click)="onEnterEditMode()" [disabled]="!userDetails">
                Edit profile
            </button>
            <button
                (click)="onEnterChangePasswordMode()"
                [disabled]="!userDetails"
            >
                Change password
            </button>

            <app-user-details-display [details]="userDetails" />

            <app-confirmation-button
                (confirmed)="onDeleteAccount()"
                buttonText="Delete Account"
                [disabled]="!userDetails"
            />
        }
    }
</div>
<div>
    @if (userBooksError && !isBooksLoading) {
        <p>Error: {{ userBooksError }}</p>
    } @else {
        <h3>Your books:</h3>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Is available?</th>
                    <th>Actions</th>
                </tr>
                @for (book of userBooks; track $index) {
                    <tr>
                        <td>
                            <a routerLink="/books/{{ book.bookId }}">{{
                                book.title
                            }}</a>
                        </td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.availability ? 'Yes' : 'No' }}</td>
                        <td>
                            <button (click)="onEditBook(book.bookId)">
                                ✏️
                            </button>
                            <app-confirmation-button
                                (confirmed)="onDeleteBook(book.bookId)"
                                buttonText="❌"
                            />
                        </td>
                    </tr>
                }
            </thead>
        </table>
    }
</div>

@if (isPageLoading) {
    <app-loading-modal />
}
