<div>
    <h2>User Details Page</h2>
    @if (isDetailsLoading) {
        <p>Loading user details...</p>
    } @else if (userDetailsError) {
        <p>Error: {{ userDetailsError }}</p>
    } @else {
        <app-user-details-display [details]="userDetails!" />
    }
</div>
<div>
    @if (isBooksLoading) {
        <p>Loading your books...</p>
    } @else if (userBooksError) {
        <p>Error: {{ userBooksError }}</p>
    } @else {
        <h3>Your books:</h3>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Is available?</th>
                    <th>Actions</th>
                </tr>
                @for (book of userBooks; track $index) {
                    <tr>
                        <td>
                            <a routerLink="/books/{{ book.book_id }}">{{
                                book.title
                            }}</a>
                        </td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.available ? 'Yes' : 'No' }}</td>
                        <td>
                            <a routerLink="/books/{{ book.book_id }}/edit">
                                ✏️
                            </a>
                            <app-confirmation-button
                                (confirmed)="onDeleteBook(book.book_id)"
                                buttonText="❌"
                            />
                        </td>
                    </tr>
                }
            </thead>
        </table>
    }
</div>
