<div>
    <h2>User Details Page</h2>
    @if (userDetailsError) {
        <p>Error: {{ userDetailsError }}</p>
    } @else {
        @if (editMode && userDetails) {
            <button (click)="onExitEditMode()">Cancel</button>
            <app-user-edit-form
                (profileUpdated)="onProfileUpdated()"
                [data]="userDetails"
                [self]="!userId()"
            />
        } @else {
            <button (click)="onEnterEditMode()" [disabled]="!userDetails">
                Edit profile
            </button>
            <app-user-details-display [details]="userDetails" />
        }
    }
</div>
<div>
    @if (userBooksError && !isBooksLoading) {
        <p>Error: {{ userBooksError }}</p>
    } @else {
        <h3>Your books:</h3>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Is available?</th>
                    <th>Actions</th>
                </tr>
                @for (book of userBooks; track $index) {
                    <tr>
                        <td>
                            <a routerLink="/books/{{ book.book_id }}">{{
                                book.title
                            }}</a>
                        </td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.available ? 'Yes' : 'No' }}</td>
                        <td>
                            <a routerLink="/books/{{ book.book_id }}/edit">
                                ✏️
                            </a>
                            <app-confirmation-button
                                (confirmed)="onDeleteBook(book.book_id)"
                                buttonText="❌"
                            />
                        </td>
                    </tr>
                }
            </thead>
        </table>
    }
</div>

@if (userDetails && !userDetailsError) {
    <app-confirmation-button
        (confirmed)="onDeleteAccount()"
        buttonText="Delete Account"
    />
}
@if (isPageLoading) {
    <app-loading-modal />
}
