@if (isLoading) {
    <app-loading-modal />
} @else {
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div
            [ngClass]="{
                'd-none': !!userId(),
            }"
        >
            <label for="oldPassword">Old password</label>
            <input
                type="password"
                id="oldPassword"
                formControlName="oldPassword"
            />
            <ul>
                @if (isRequired(passwordFormControls.oldPassword)) {
                    <li>Password is requried!</li>
                }
                @for (
                    error of checkFormFieldError('oldPassword');
                    track $index
                ) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>
        <div>
            <label for="newPassword">New password</label>
            <input
                type="password"
                id="newPassword"
                formControlName="newPassword"
                (change)="onChange($event)"
            />
            <ul>
                @if (isRequired(passwordFormControls.newPassword)) {
                    <li>Password is requried!</li>
                }
                @for (
                    error of checkFormFieldError('newPassword');
                    track $index
                ) {
                    <li>{{ error }}</li>
                }
            </ul>
        </div>

        <div>
            <label for="confirmPassword">Confirm password</label>
            <input
                type="password"
                id="confirmPassword"
                formControlName="confirmPassword"
            />
            <ul>
                @if (isRequired(passwordFormControls.confirmPassword)) {
                    <li>Confirm password is requried!</li>
                }
                @if (hasSameAsError(passwordFormControls.confirmPassword)) {
                    <li>Passwords do not match!</li>
                }
            </ul>
        </div>

        <button type="submit" [disabled]="passwordForm.invalid">
            Update password
        </button>
        @if (formErrorCode) {
            <p>{{ formErrorCode }}</p>
        }
    </form>
}
