<form class="form-group row g-2" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12">
        <label for="loan-create-friend-input" class="form-label">Ami *</label>

        <app-input-select-autocomplete
            [formControl]="controls.borrowerId"
            [options]="friendOptions"
            (inputChanged)="onFriendNameChange($event)"
            [debounce]="400"
        />
    </div>

    <div class="col-12">
        <label for="loan-create-book-input" class="form-label">Livre *</label>
        <app-input-select-autocomplete
            [formControl]="controls.bookId"
            [options]="bookOptions"
            (inputChanged)="onBookTitleChange($event)"
            [debounce]="400"
        />
    </div>
    <div class="col-12">
        <label for="" class="form-label">Retour prévu</label>
        <input
            type="date"
            class="form-control"
            [formControl]="controls.returnDate"
        />
    </div>

    <div class="d-flex justify-content-end gap-2 mt-2">
        <button class="btn btn-sm btn-outline-secondary" type="reset">
            ✖
        </button>
        <button class="btn btn-sm btn-primary" [disabled]="form.invalid">
            💾 Enregistrer
        </button>
    </div>
</form>
