<div class="btn-group mb-3">
    <button class="btn btn-sm btn-primary">Tous 👥 (TODO)</button>
    <button class="btn btn-sm btn-outline-secondary">
        Prêts en cours 📤 (TODO)
    </button>
    <button class="btn btn-sm btn-outline-secondary">
        Jamais emprunté 💤 (TODO)
    </button>
</div>

<div class="searching-inputs">
    <div class="input-group mb-3">
        <span class="input-group-text">name</span>
        <input
            type="text"
            class="form-control"
            placeholder="Rechercher…"
            [(ngModel)]="searchNameInput"
        />
    </div>

    <button class="btn btn-light" (click)="onResetFilers()">
        Reset filtres
    </button>
</div>

<ul class="list-group mb-3">
    @for (f of friends(); track f.user.userId) {
        <li class="list-group-item">
            <div class="fw-semibold d-flex justify-content-between">
                {{ f.user.name }}
                <div class="d-flex gap-2">
                    @if (f.loanCount) {
                        <span class="chip chip-warning"
                            >📤 {{ f.loanCount }} prêts</span
                        >
                    }
                    @if (f.overdueCount) {
                        <span class="chip chip-danger"
                            >⏰ {{ f.overdueCount }} retards</span
                        >
                    }
                    @if (!f.loanCount) {
                        <span class="chip chip-secondary"
                            >💤 aucun emprunt</span
                        >
                    }
                </div>
            </div>
        </li>
    }
</ul>
