<ul>
    <li>
        <a
            routerLink="/"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact: true}"
            >Home</a
        >
    </li>
    @if(connected()){
    <li>
        <a routerLink="/users/me" routerLinkActive="router-link-active"
            >Me {{role()}} and my books</a
        >
    </li>
    <li>
        <a routerLink="/books/create" routerLinkActive="router-link-active"
            >Add book to collection</a
        >
    </li>
    @if(role() === UserRole.Admin){
    <li>
        <a routerLink="/admin" routerLinkActive="router-link-active">Admin</a>
    </li>
    }
    <li>
        <button (click)="onLogoutClick()" (keyup.enter)="onLogoutClick()">
            Logout
        </button>
    </li>
    }@else {
    <li>
        <a
            routerLink="/auth"
            routerLinkActive="link-active"
            [routerLinkActiveOptions]="{exact: true}"
            >Login</a
        >
    </li>
    <li>
        <a routerLink="/auth/register" routerLinkActive="link-active"
            >Register</a
        >
    </li>
    }
</ul>
